.app {
  width: 240px;
  padding: var(--window-padding);
  font-size: 1rem;
  user-select: none;

  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);

  color: var(--text-color-primary);
  background-color: var(--background-color);

  a {
    color: inherit;
  }
}

.panel {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
